body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

#searchInput {
    padding: 5px;
    margin-right: 5px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.job {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.job:last-child {
    border-bottom: none;
}